@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}

header{
    background-color: black;
    color: white;
    padding-bottom: 40px;
    
}

header > h1{
    font-family: var(--fonte1);
    margin: 0px 30px 8px 30px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 45px;
    font-variant: small-caps;
}

header > p{
 text-align: center;
 margin: 5px 0px 0px 0px;
 padding-bottom: 0px;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

header > p > a:hover{
    text-decoration: underline;
}

section > p{
 font-family: var(--fonte2);
}

section#caixa1{
    padding:  75px 0px 75px 30px;
    font-size: 25px;
}

section#caixa2{
    display: block;
    color: white;
    padding: 75px 500px 75px 30px;
    font-size: 25px;
    background: rgb(0, 0, 0) url(imagens/background001.jpg) center center no-repeat fixed;

}

section#caixa2 > p{
 background-color: rgba(0, 0, 0, 0.315);
 
}